body {
	background-color: aliceblue;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
}


#animepara{
  text-align:center;
  font-family:"Corbel";
  font-weight:bold;
  font-size:68px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color:aliceblue;
  transition: text-shadow 0.7s ease-in-out;
}

img {
	width: 50%;
}

h1 {
	font-size: 20px;
	color: darkblue;
	text-align: left;
	font-weight: 20px;
}

.gras {
	font-weight: bold;
	font-size: 10px;
}

p {
	font-size: 17px;
}

a {
	font-size: 17px;
}


